footer.footer
    .container
        .row
            .col-3
                h3 Đây là footer
                p 
                    | Một số thông tin giới thiệu về trang web của bạn.
            .col-3
                h3 Liên kết nhanh
                ul
                    li
                        a(href="/about") Giới thiệu
                    li
                        a(href="/contact") Liên hệ
                    li
                        a(href="/privacy") Chính sách bảo mật
                    li
                        a(href="/services") Dịch vụ
            .col-3
                h3 Liên hệ
                p
                    | Địa chỉ: 123 Đường ABC, Thành phố XYZ
                p
                    | Điện thoại: 0123 456 789
                p
                    | Email: info@example.com
            .col-3
                h3 Theo dõi chúng tôi
                .social-icons
                    a(href="https://www.google.com" target="_blank")
                        i.fab.fa-google
                    a(href="https://github.com" target="_blank")
                        i.fab.fa-github
                    a(href="https://facebook.com" target="_blank")
                        i.fab.fa-facebook

